gradio
fastapi
uvicorn
numpy
pandas
tqdm
requests
pymilvus
ultralytics
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
sentence_transformers
opencv-python